<div class="row col-md-16">
    <h4>Utbildning</h4>
</div>
<div class="row col-md-15">
    <p>- Gymnasieskola (SEP/1997 - JUN/1999)
        <br>Vetenskapliga avsnitt /Alnahda skola – Baghdad - Iraq
        (engelska – arabiska - matematiks – kemist – fysik – biologisk)</p>
    <p>- Universitet (OKT/2000 - JUN/2004)
        <br>B. Science Computer / Baghdad university - Iraq
        Enligt UHR: “Degree of Bachelor of Science in Computer”
        Data Programming språk
        (advanced mathematics , statistics & probability , numerical methods ,
        Compilers , system analysis & data base , computer communication)
        Project guardian (generic language “C++”)</p>

    <p>- Utbildning (SEP/2015 - FEB/2016)
        Administrativ utbildning / ASTAR
        Visma administration 2000 , visma lön 600 </p>
    <p>- SFI och grund (Svenska för invandrare) </p>
    
    <p>- Frontend utvecklare / EC utbildning</p>    
</div>
<span></span>

<div class="row col-md-12">
    <h4>Överiga meriter</h4>
</div>
<div class="row col-md-12">
    <p>- Språk
      Arabiska (modersmål),engelska och Svenska</p>

    <p>- E-marketing</p> 
    <p>- Första hjälp</p>
</div>

<h5 class="text-info">För kolla på mina arbetserfarnheter klicka på företagets namn som står på vänster sida</h5>
